@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
  background-color: #000;
}
.container {
  width: 50%;
  margin: 20px auto;
}
.container img{
  width: 100%;
  border: 5px solid #fff;
}
.container h1{
  font-size: 3em;
  font-weight: bold;
  font-family: "Libre Baskerville" , sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.container p{
  color: #fff;
  text-align: center;
}

@media (max-width: 767px){
  .container{
    width: 100%;
    margin: 0;
  }
  .container img{
    width: 97%;
  }
  .container h1{
    font-size: 1em;
  }
}